name: HELM+minikube+CD
on:
  push:
   
jobs:
  Helm-Deployment:
    name: deploy on minikube 
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Get Minikube status
        run: minikube status
      - name: Get cluster info
        run: kubectl cluster-info
      - name: Get Helm  version info
        run: helm version
      - name: install kanaban application
        run: helm upgrade --install -f ./kanban-app.yaml kanban-app ./app
      - name: Get Kubernetes pods
        run: kubectl get services --all-namespaces
      - name: install kanban-postgres 
        run: helm upgrade --install -f ./kanban-postgres.yaml postgres ./postgres
      - name: install kanaban adminer 
        run: helm upgrade --install -f ./adminer.yaml adminer ./app
      - name: install kanaban app 
        run: helm upgrade --install -f ./kanban-app.yaml kanban-app ./app
      - name: install kanaban GUI
        run: helm upgrade --install -f ./kanban-ui.yaml kanban-ui ./app
      - name: install ingress controller to attach services
        run: helm upgrade --install -f ./ingress.yaml ingress ./ingress
      - name: helm list 
        run: helm list
      - name: get kubernetes deployments 
        run: kubectl get deployments
   
